h2 {
    text-align: center;
}

.column {
    text-align:center;
}

.choices {
    text-align: center;
}

.choice {
    border: 9px solid white;
    border-spacing: 10px;
    border-radius: 50%;
    display: none;
    transition: all 0.3s ease;
}

.cross {
    color: black;
    font-size: 100px;
    display: none
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.quiet {
    cursor: none;
}