html, body, #container {
    height: 100%;
    padding: 0;
}

.choices {
    margin: 50px 0;
    text-align: center;
}

.choice {
    border: 9px solid white;
    border-spacing: 10px;
    border-radius: 50%;
    margin: 0 20px;
    display: none;
    transition: all 0.3s ease;
}


.cross {
    color: black;
    font-size: 100px;
    display: none
}

.hidden {
    display: none;
}

.show {
    display: inline-flex;
}

.quiet {
    cursor: none;
}