table {
    white-space: nowrap;
}
td:last-child {
  width: 100%;
}
progress {
    width: 100%;
}
table td {
  text-align: center !important;
  vertical-align: middle !important;
}

img {
  min-height: 60px;
  min-width: 50px;
}
